<!DOCTYPE html>
<html>
  <head>
    <title>Venomous : Page d'accueil </title>
    <html lang="fr">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/front/css/styleAccueil.css" />
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script> <!-- nécessaire pour les icones -->
    <!-- <script type="text/javascript" src="Observable.js"></script>  -->
    <!--<link rel="icon" type="image/png" sizes="16x16" href="">-->   <!--Faire image jeu en mieux ! -->
  </head>


  <body > 
    <p class="nameGame2"><a href="index.html">VENOMOUS</a></p>
    <p class="ntm"> Ecran de jeu </p>




    
    
   
  
    <script type="text/javascript" src="main.js"></script>
    <script src="login.ejs"></script>
  </body>
</html>